*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.menubar{
	background-image: linear-gradient(to right ,#6db9ef,#7ce08a);
	position: relative;

}

.nav-link{
	font-size: 16px;
	color: white !important;
	margin: 2px;
}

.menubar .navbar-brand img{
	position: absolute;
	left: 10px;
	top: 0; 
	height: 60px;
	
}

.navbar-nav{
	text-align: center;
}

.menubar .navbar-toggler{
	padding-right: 0;
	outline: none;
	border:none;
}

.bgimg{
	height: 80vh;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
	url("../bgimg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bgimg h1{
	padding-top: 170px;
	font-size: 50px;
	color: #fff;
	letter-spacing: 6px;
	font-weight: 600;
	text-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.bgimg p{
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	text-shadow: 0 0 30px;
}

.search-job{
	padding: 30px 0;
	margin: -50px 6% 50px;
	background-image: linear-gradient(to right ,#6db9ef,#7ce08a);
}

.search-job .form-control{
	max-width: 250px;
	display: inline-flex;
	margin: 10px 5px;
	border-radius: 0;
	box-shadow: none !important;
	border:none !important;
}

.search-job .btn-primary{
	box-shadow: none !important;
	border:none;
	display: inline-flex;
	margin: 5px;
	padding: 5px 30px;
	border-radius: 0;

}

/* --------------------------top recruiters--------------*/

#recruiters{
	padding-top: 50px;
	padding-bottom: 100px;
}

#recruiters h3{
	text-align: center;
	padding-bottom: 40px;
}

h3::before{
	content: '';
	background-image: linear-gradient(to right ,#6db9ef,#7ce08a);
	width: 50px;
	height: 30px;
	position: absolute;
	z-index: -10;
	margin-top: -10px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 90px;

}

#recruiters img{
	max-width: 100px;
	margin: 10px 20px;
}

/*=-------------------------recent updates---------*/


#jobs{
    background: lightgrey;
    padding: 50px 0;
}

.company-details{
	box-shadow: 0 2px 70px 0 rgba(110,130,208,0.20);
	border-radius: 5px;
	margin-bottom: 20px;

}

.job-update{
	background: #fff;
	padding: 10px 20px;
	border-radius: 5px;
}

.job-update .fa{
	margin-top: 5px;
	margin-right: 10px;
	color: #77d1b1;
}
.job-update small{
	background: #efefef;
	padding: 1px 5px;
	margin: 0 5px;
}
.apply-btn{
	height: 40px;
	background-image: linear-gradient(to right ,#6db9ef,#7ce08a);
    padding: 7px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;  
}
.apply-btn .btn-primary{
	padding: 0 30px;
	float: right;
	border-radius: 5px;
	box-shadow: none;
	background: transparent;
	border:1px solid white;
}

.job-intern{
	background: #fff;
	padding: 10px 20px;
	border-radius: 5px;
}

#Internship{
    padding: 50px 0;
}

#Internship h5{
	font-size: 30px;
	font-weight: 600;
}


/*----------------------------logon form------------------*/













































